@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-LightItalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-RegularItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-MediumItalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-XBold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-XBoldItalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-XLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tenon';
	src: url('../fonts/Tenon-XLightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Dharma Gothic E';
	src: url('../fonts/DharmaGothicE_Bold_R.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
