/* Form styles go here */

.open-form label {
	@apply !font-mono !uppercase !text-sm !text-textDark !ml-4;
}

.open-form .gfield_description.gform_fileupload_rules {
	@apply !font-mono !uppercase !text-[rgba(255,255,255,0.5)] !text-sm !ml-4;
}

.gform_heading {
	display: none !important;
}

.open-form .gform_drop_area {
	border-radius: 999px !important;
	background: rgba(0, 0, 0, 0.03) !important;
	border: 1px dashed rgba(0, 0, 0, 0.15) !important;
	box-shadow: none !important;
	padding: 1.5rem !important;
	color: #111114 !important;
	@apply !items-center !flex !justify-center;
}

.open-form .gform_drop_area .gform_button_select_files {
	color: #111114 !important;
	box-shadow: none !important;
}

.open-form .gform_drop_area.gform-theme-field-control {
	@apply !items-center !flex !justify-center;
}

.open-form .gform_drop_instructions {
	margin: 0 !important;
}

.open-form .gfield--type-fileupload .ginput_container .gfield_description {
	@apply !font-mono !uppercase !text-[rgba(0,0,0,0.5)] !text-sm !ml-4;
}

.open-form .gform_drop_area::before {
	content: none !important;
}

.open-form .gform_button_select_files {
	background: transparent !important;
	text-decoration: underline !important;
	padding: 0.5rem !important;
}

.open-form input {
	@apply !rounded-full !bg-[rgba(0,0,0,0.05)] !border-none !p-6 !text-textDark !shadow-none;
}

.open-form textarea {
	@apply !rounded-[1.5rem] !bg-[rgba(0,0,0,0.05)] !border-none !p-6 !text-textDark !shadow-none;
}

.open-form .gfield_required_asterisk {
	@apply !text-red-500;
}

.open-form .gform_button {
	@apply !rounded-full !bg-textDark !py-2 !px-4  !transition-all !border !border-bgLight !text-bgLight !font-mono !uppercase;
}

.open-form .gform_button:hover {
	@apply !bg-textDark/80;
}

.open-form .validation_message {
	@apply !text-textDark/90 !uppercase !font-mono !text-[11px] !ml-4;
}

.open-form_wrapper .gform_validation_errors {
	@apply !border-none !bg-none flex justify-center !text-center;
}

.open-form_wrapper .gform_validation_errors:focus,
.open-form_wrapper .gform_validation_errors:active,
.open-form_wrapper .gform_validation_errors:hover {
	@apply !bg-none !ring-0 !outline-none !bg-transparent !text-center;
}

.open-form_wrapper .gform_submission_error.hide_summary {
	@apply !font-mono !text-textDark/90 !text-[12px] !uppercase !text-center;
}

.open-form_wrapper .gform_submission_error.hide_summary .gform-icon {
	@apply !hidden;
}

#contact-start-btn {
	cursor: pointer;
}

.open-form input:focus,
.open-form textarea:focus {
	outline: solid 1px #f6f6f65a !important;
	border: none !important;
	box-shadow: none !important;
}

/* Ensure form fields are ready for animation */
.open-form .gfield {
	transition: all 0.3s ease;
}

/* Smooth transitions for form elements */
.open-form .gform_button {
	transition: all 0.3s ease;
}
