@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './typography.css';
@import './animations.css';
@import './buttons.css';
@import './forms.css';
@import './blocks.css';
@import './header.css';
@import './contact.css';

html {
	@apply scroll-smooth;
}

@layer components {
	.container {
		@apply max-w-full w-full px-4 lg:px-8 mx-auto;
	}
}

body.menu-open {
	[data-menu] {
		@apply translate-x-0;
	}
}

[data-menu] {
	@apply translate-x-full;
}

main {
	section {
		@apply relative py-10 lg:py-20 3xl:py-32;
	}
}

/* REMOVE LOOM EXTENSION PADDING */
section#shadow-host-companion {
	@apply !py-0;
}

.circle {
	@apply bg-black rounded-full size-3;
}

.label {
	@apply font-mono uppercase text-sm;
}

.empty {
	@apply overflow-hidden;
}

.post-block-builder [post-data-block]:last-of-type .content-container {
	@apply max-lg:!border-b-0;
}

.absolute-center {
	transform: translate(-50%, -50%);
}

video {
	will-change: transform;
	transform: translateZ(0); /* Force hardware acceleration */
}

#not-found-canvas {
	canvas {
		@apply absolute inset-0 w-full h-full;
	}
}
.hero-curtains {
	@apply !pointer-events-none;
}
