<button data-toggle-menu class="menu-trigger supertitle flex flex-row items-center gap-2.5 py-3 px-5 rounded-full border">
	{% include "icons/plus.twig" with { class: 'size-2' } %}<span class="scramble-text">Menu</span>
</button>
