# Ignore everything by default
*

# Don't ignore the .gitignore file itself
!.gitignore
!.github/workflows/deploy.yaml
!README.md
!composer.json
!composer.lock
!setup.sh
!serve-local.sh
!wp-config.php

weerts_github_actions
weerts_github_actions.pub


# Directories and files required for WordPress
!wp-content/

# Ignore everything inside wp-content
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Allow our custom theme and specific plugin file
!wp-content/themes/index.php
!wp-content/themes/weerts
!wp-content/themes/weerts/**

wp-content/plugins/*
wp-content/plugins/plugins.zip
!wp-content/plugins/readme.md

# ENV
!.env.sample

# Local PHP runtime overrides tracked for this boilerplate
!.php/
!.php/conf.d/
!.php/conf.d/99-local-dev.ini
