{% extends "base.twig" %}

{% block content %}
	<section data-mouse-content="Click to shoot" id="not-found-canvas" class="h-lvh w-full bg-bgLight flex flex-col items-center justify-end">
		<div class="container relative z-10 text-center flex flex-col items-center pointer-events-none">
			<div class="block-content items-center">
				<h1 class="is-h4 pb-[25%]">Please navigate to another page or return home.</h1>
			</div>
		</div>
	</section>
{% endblock %}
