{% extends 'index.twig' %}

{% block content %}
    <section class="py-16 lg:py-20">
        <div class="site-width">
            <header class="max-w-3xl border-b border-stone-200 pb-8">
                <h1 class="text-4xl font-semibold tracking-tight text-stone-900">{{ title }}</h1>
                {% if description %}
                    <div class="rich-text mt-4 text-stone-600">{{ description }}</div>
                {% endif %}
            </header>

            {% if posts %}
                <div class="mt-8 grid gap-6">
                    {% for post in posts %}
                        {% include 'partials/tease.twig' %}
                    {% endfor %}
                </div>
                {% include 'partials/pagination.twig' with { pagination: posts.pagination() } %}
            {% else %}
                {% include 'partials/content-none.twig' %}
            {% endif %}
        </div>
    </section>
{% endblock %}
