<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
    {% include 'html-header.twig' %}
    <body class="{{ body_class }}">
        <a class="sr-only focus:not-sr-only focus:fixed focus:left-4 focus:top-4 focus:z-50 focus:rounded focus:bg-stone-900 focus:px-4 focus:py-2 focus:text-stone-50" href="#content">{{ function('__', 'Skip to content', 'rural-boilerplate') }}</a>
        {% include 'partials/site-header.twig' %}
        <main id="content">
            {% block content %}{% endblock %}
        </main>
        {% include 'partials/site-footer.twig' %}
        {{ function('wp_footer') }}
        {% block scripts %}{% endblock %}
    </body>
</html>
