{% extends 'base.twig' %}

{% block content %}
    <section class="py-16 lg:py-20">
        <div class="site-width">
            <div class="rich-text max-w-4xl">{{ content }}</div>
        </div>
    </section>
{% endblock %}
