{% extends 'base.twig' %}

{% block content %}
	<div id="contact-container" class="contact-hero min-h-lvh w-full flex items-center justify-center relative overflow-hidden bg-textDark border-b border-borderDark">
		{% include 'partials/contact/start-button.twig' %}
		{% include 'partials/contact/conversation-form.twig' %}
		{% include 'partials/contact/canvas-animation.twig' %}
	</div>
{% endblock %}
