{% set svg_title = title|default(null) %}

<svg
	class="{{ class|default('') }}"
	width="25"
	height="24"
	viewBox="0 0 25 24"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
	<path
		d="M1.04348 1.43906e-07C0.467181 1.43906e-07 0 0.467181 0 1.04348C0 1.61978 0.467181 2.08696 1.04348 2.08696H2.90014C3.05206 2.08696 3.20014 2.13476 3.32338 2.2236C3.44663 2.31243 3.5388 2.4378 3.58684 2.58193L7.02717 12.9049C7.17995 13.3632 7.19938 13.8567 7.0822 14.3254L6.79891 15.4606C6.38325 17.1233 7.67748 18.7826 9.3913 18.7826H21.913C22.4893 18.7826 22.9565 18.3154 22.9565 17.7391C22.9565 17.1628 22.4893 16.6957 21.913 16.6957H9.3913C8.98499 16.6957 8.72414 16.3623 8.82269 15.9681L9.03632 15.1148C9.07252 14.9702 9.156 14.8419 9.27349 14.7502C9.39098 14.6585 9.53574 14.6087 9.68478 14.6087H20.8696C21.3189 14.6089 21.7179 14.3216 21.8601 13.8954L24.642 5.54755C24.8673 4.8716 24.364 4.17359 23.6515 4.17391H6.83967C6.68775 4.17391 6.53967 4.12611 6.41642 4.03728C6.29317 3.94844 6.20099 3.82308 6.15295 3.67895L5.1644 0.713315C5.02221 0.287118 4.6232 -0.000234753 4.17391 1.43906e-07H1.04348ZM8.34783 19.8261C7.19523 19.8261 6.26087 20.7605 6.26087 21.913C6.26087 23.0656 7.19523 24 8.34783 24C9.50042 24 10.4348 23.0656 10.4348 21.913C10.4348 20.7605 9.50042 19.8261 8.34783 19.8261ZM20.8696 19.8261C19.717 19.8261 18.7826 20.7605 18.7826 21.913C18.7826 23.0656 19.717 24 20.8696 24C22.0222 24 22.9565 23.0656 22.9565 21.913C22.9565 20.7605 22.0222 19.8261 20.8696 19.8261Z"
		fill="currentColor"
	/>
</svg>
