{% set svg_title = title|default(null) %}

<svg
	class="{{ class|default('') }}"
	width="10"
	height="5"
	viewBox="0 0 10 5"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
	<path d="M1 1L5 4L9 1" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"/>
</svg>

