{% set svg_title = title|default(null) %}
<svg
	class="{{ class|default('') }}"
	width="20"
	height="20"
	viewBox="0 0 20 20"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
	<rect x="9" width="2" height="20" fill="currentColor" />
	<rect y="9" width="20" height="2" fill="currentColor" />
</svg>
