{% set svg_title = title|default(null) %}
<svg
	class="{{ class|default('') }}"
	width="40"
	height="4"
	viewBox="0 0 40 4"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
	<rect width="40" height="4" fill="currentColor" />
</svg>
