{% set svg_title = title|default(null) %}

<svg
	class="{{ class|default('') }}"
	width="25"
	height="25"
	viewBox="0 0 25 25"
	fill="currentColor"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
<path d="M12.2217 0C15.541 0 15.9581 0.0135695 17.2617 0.0732422C18.562 0.132446 19.4505 0.339469 20.2275 0.641602C21.0314 0.954034 21.7129 1.37207 22.3926 2.05176C23.0721 2.73086 23.4903 3.41209 23.8027 4.21582C24.105 4.99296 24.3109 5.8821 24.3701 7.18262C24.4298 8.48615 24.4443 8.90268 24.4443 12.2217C24.4443 15.541 24.4298 15.9581 24.3701 17.2617C24.3109 18.5619 24.1049 19.4505 23.8027 20.2275C23.4903 21.0314 23.0723 21.7129 22.3926 22.3926C21.7134 23.0723 21.0314 23.4903 20.2275 23.8027C19.4505 24.1048 18.5619 24.3109 17.2617 24.3701C15.9581 24.4298 15.541 24.4443 12.2217 24.4443C8.90271 24.4443 8.48614 24.4298 7.18262 24.3701C5.88212 24.3109 4.99296 24.105 4.21582 23.8027C3.41209 23.4903 2.73134 23.0721 2.05176 22.3926C1.37207 21.7134 0.954034 21.0314 0.641602 20.2275C0.339467 19.4505 0.132448 18.5619 0.0732422 17.2617C0.0135695 15.9581 0 15.541 0 12.2217C1.08121e-06 8.90268 0.0135718 8.48615 0.0732422 7.18262C0.132444 5.88208 0.339376 4.99297 0.641602 4.21582C0.954019 3.41208 1.37217 2.73135 2.05176 2.05176C2.73086 1.37217 3.41209 0.954019 4.21582 0.641602C4.99297 0.339378 5.8821 0.132446 7.18262 0.0732422C8.48614 0.013572 8.90271 1.17409e-06 12.2217 0ZM12.2217 2.20215C8.9585 2.20215 8.57169 2.21474 7.2832 2.27344C6.0918 2.32778 5.44446 2.52599 5.01367 2.69336C4.44325 2.91455 4.03573 3.17966 3.6084 3.60742C3.18099 4.03532 2.91605 4.44314 2.69434 5.01367C2.52699 5.44448 2.32776 6.09198 2.27344 7.2832C2.21475 8.57191 2.20215 8.95846 2.20215 12.2217C2.20215 15.485 2.21474 15.8718 2.27344 17.1602C2.32777 18.3515 2.52697 18.9989 2.69434 19.4297C2.91553 20.0001 3.18059 20.4071 3.6084 20.835C4.03624 21.2623 4.44327 21.5273 5.01367 21.749C5.44446 21.9164 6.09177 22.1156 7.2832 22.1699C8.57169 22.2286 8.9585 22.2412 12.2217 22.2412C15.4852 22.2412 15.8726 22.2286 17.1611 22.1699C18.3525 22.1156 18.9999 21.9164 19.4307 21.749C20.001 21.5278 20.4081 21.2628 20.8359 20.835C21.2632 20.4071 21.5283 20.0001 21.75 19.4297C21.9174 18.9989 22.1166 18.3515 22.1709 17.1602C22.2296 15.8713 22.2422 15.485 22.2422 12.2217C22.2422 8.95846 22.2296 8.57142 22.1709 7.2832C22.1166 6.09203 21.9173 5.44448 21.75 5.01367C21.5288 4.44314 21.2638 4.03532 20.8359 3.60742C20.4081 3.18013 20.0011 2.91503 19.4307 2.69336C18.9999 2.526 18.3525 2.32779 17.1611 2.27344C15.8721 2.21474 15.4852 2.20215 12.2217 2.20215ZM12.2217 5.94531C15.6875 5.94531 18.498 8.75581 18.498 12.2217C18.4978 15.6874 15.6874 18.4971 12.2217 18.4971C8.75614 18.4969 5.94652 15.6872 5.94629 12.2217C5.94629 8.75595 8.75552 5.94553 12.2217 5.94531ZM12.2217 8.14746C9.97226 8.14768 8.14844 9.97221 8.14844 12.2217C8.14866 14.471 9.97191 16.2947 12.2217 16.2949C14.4712 16.2949 16.2957 14.4711 16.2959 12.2217C16.2959 9.97207 14.4713 8.14746 12.2217 8.14746ZM18.7461 4.23047C19.5561 4.23047 20.2129 4.88729 20.2129 5.69727C20.2129 6.50724 19.5561 7.16406 18.7461 7.16406C17.9362 7.16394 17.2793 6.50717 17.2793 5.69727C17.2793 4.88736 17.9362 4.23059 18.7461 4.23047Z" fill="#2A231A"/>
</svg>
