{% set svg_title = title|default(null) %}

<svg
	class="{{ class|default('') }}"
	width="20"
	height="20"
	viewBox="0 0 20 20"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
	<path
		d="M5.83268 7.50004H2.91602V17.0834H5.83268V7.50004ZM4.37435 2.91671C3.43268 2.91671 2.66602 3.69171 2.66602 4.64171C2.66602 5.59171 3.43268 6.37504 4.37435 6.37504C5.31602 6.37504 6.08268 5.59171 6.08268 4.64171C6.08268 3.69171 5.31602 2.91671 4.37435 2.91671ZM17.3327 11.1584C17.3327 8.26671 15.791 6.91671 13.7327 6.91671C12.0743 6.91671 11.3327 7.83337 10.916 8.47504V7.50004H8.12435C8.15768 8.15004 8.12435 17.0834 8.12435 17.0834H10.916V11.7334C10.916 11.45 10.941 11.1667 11.016 10.9667C11.2327 10.4084 11.7243 9.83337 12.5577 9.83337C13.6493 9.83337 14.0827 10.6667 14.0827 11.8917V17.0834H16.8743V11.5667C16.8743 11.4334 16.8743 11.2917 16.866 11.15"
		fill="currentColor"
	/>
</svg>
