{% set svg_title = title|default(null) %}

<svg
	class="{{ class|default('') }}"
	width="23"
	height="25"
	viewBox="0 0 23 25"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	{% if svg_title %}
		role="img"
		aria-label="{{ svg_title|e }}"
	{% else %}
		aria-hidden="true"
	{% endif %}
>
	{% if svg_title %}
		<title>{{ svg_title }}</title>
	{% endif %}
	<path
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M6.33695 13.4639C6.62328 13.4101 6.93674 13.4951 7.16507 13.6641C8.3648 14.5437 9.79321 14.997 11.2793 14.9971C12.7655 14.9971 14.1938 14.5437 15.3936 13.6641C15.6219 13.4912 15.9353 13.437 16.2217 13.4639C18.509 13.775 20.5376 15.0511 21.8496 16.9795C22.1088 17.3481 22.3367 17.7437 22.5069 18.1699H22.4873C22.5725 18.3389 22.5456 18.539 22.4024 18.708C22.1741 19.1035 21.9191 19.4722 21.6328 19.8408C21.2342 20.3786 20.777 20.8631 20.3203 21.3164C19.9218 21.7119 19.4653 22.1074 19.0088 22.4492C16.7526 24.1202 14.0393 24.9999 11.2412 25C8.44317 25 5.72997 24.1201 3.47366 22.4492C3.01704 22.0805 2.55976 21.712 2.16116 21.3164C1.67743 20.8632 1.24824 20.3786 0.849641 19.8408C0.594267 19.5029 0.30745 19.1036 0.0791327 18.708C-0.00600335 18.539 -0.033322 18.3389 0.051789 18.1699C0.225916 17.7743 0.454617 17.3482 0.709992 16.9795C1.99488 15.0511 4.05357 13.7751 6.33695 13.4639ZM11.2793 0C14.8787 0 17.8203 2.91965 17.8203 6.49219C17.8203 10.0646 14.8786 12.9844 11.2793 12.9844C7.68018 12.9842 4.73938 10.0645 4.73929 6.49219C4.73929 2.91975 7.68013 0.000160227 11.2793 0Z"
		fill="currentColor"
	/>
</svg>
