{# Budget Slider #}
<div id="budget-slider" class="hidden w-full">
	<div class="pb-12 pt-4 relative flex flex-col items-center">
		<div class="relative flex flex-row gap-3 items-center max-w-[400px] w-full">
			<span class="text-textLight label min-label mt-1.5">$20K</span>
			{# Progress bar background #}
			<div class="relative w-full mx-auto">
				<div id="budget-pin" class="absolute -top-12 left-1/2 transform -translate-x-1/2 transition-all duration-75 ease-out">
					<div class="bg-white text-textDark px-3 py-1 rounded-full text-sm font-mono whitespace-nowrap relative">
						<span id="budget-display">$60K</span>
						{# Arrow pointing down #}
						<div class="absolute top-full left-1/2 transform -translate-x-1/2 w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent border-t-white"></div>
					</div>
				</div>
				<div class="absolute inset-0 h-2 bg-[#6D6D6E] rounded-lg"></div>
				{# Filled progress bar #}
				<div id="budget-progress" class="absolute left-0 top-0 h-2 bg-white rounded-lg transition-all duration-500 ease-out" style="width: 50%"></div>
				<input type="range" id="budget-range" step="5000" min="20000" max="100000" value="60000" class="absolute w-full h-2 bg-transparent rounded-lg appearance-none cursor-pointer slider z-10">
			</div>

			<span class="text-textLight label max-label mt-1.5">$100K +</span>
		</div>
	</div>
	<div class="text-center">
		<button id="budget-continue" class="bg-white font-mono text-textDark px-6 py-3 rounded-full hover:bg-gray-100 transition-colors uppercase">continue</button>
	</div>
</div>
