{# ——— Conversational Form ——— #}
<div id="conversation-form" class="hidden w-full items-center justify-center z-20 opacity-0 pointer-events-none transition-all duration-500">
	<div class="max-w-2xl w-full mx-4">

		{% include 'partials/contact/question-container.twig' %}
		{% include 'partials/contact/budget-slider.twig' %}
		{% include 'partials/contact/gravity-form-container.twig' %}
		{% include 'partials/contact/thank-you.twig' %}

	</div>
</div>
