{# ——— Button ——— #}
<a id="contact-start-btn" class="contact-start-btn menu-heading scramble-text-parent border py-3 px-5 flex flex-row gap-3 items-center rounded-full w-fit pointer-events-auto z-10 relative transition-all duration-300 border-borderLight/50 hover:border-borderLight">
	{% include 'icons/heading-dot.twig' %}
	<span class="is-h4 scramble-text">Let's start</span>
</a>
