<section class="bg-eggshell px-6 pb-10 lg:px-[100px]">
	<div class="mx-auto w-full max-w-[1140px]">
		<div
			class="rich-text [&>*+*]:mt-8 [&>p:first-of-type]:text-[30px] [&>p:first-of-type]:leading-[36px] [&_h2]:font-heading [&_h2]:text-d2 [&_h2]:uppercase [&_h2]:leading-[58px] [&_h2]:text-birch [&_h3]:font-heading [&_h3]:text-d3 [&_h3]:uppercase [&_h3]:leading-[38px] [&_h3]:text-birch [&_ul]:list-disc [&_ul]:space-y-3 [&_ul]:pl-6 [&_ol]:list-decimal [&_ol]:space-y-3 [&_ol]:pl-6 [&_blockquote]:rounded-xl [&_blockquote]:bg-goldenrod [&_blockquote]:px-10 [&_blockquote]:py-12 [&_blockquote]:text-[30px] [&_blockquote]:leading-[36px] [&_blockquote]:text-birch lg:[&_blockquote]:px-20 lg:[&_blockquote]:py-20 [&_img]:w-full [&_img]:rounded-xl [&_img]:object-cover [&_.wp-block-image_img]:w-full [&_.wp-block-image_img]:rounded-xl [&_.wp-block-image_img]:object-cover [&_figure]:m-0 [&_figcaption]:mt-4 [&_figcaption]:rounded-md [&_figcaption]:bg-birch/80 [&_figcaption]:px-4 [&_figcaption]:py-3 [&_figcaption]:text-t7 [&_figcaption]:leading-[23px] [&_figcaption]:text-white"
		>
			{{ post.content }}
		</div>
	</div>
</section>
