{% set items = items|default([]) %}

<section class="rural-image-gallery rural-product-carousel bg-eggshell px-6 pb-[180px] lg:px-[100px] lg:pb-[180px]">
	<div class="mx-auto flex w-full max-w-[1720px] flex-col items-center gap-[60px] ">
		<div class="flex w-full items-center justify-end gap-3">
			<button class="rural-product-carousel__nav" type="button" data-carousel-prev aria-label="Previous gallery images" disabled>
				<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
					<path d="M20.7072 11.4142H2.37382" stroke="#006600" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"/>
					<path d="M10.7072 21.4142L0.707153 11.4142L10.7072 1.41418" stroke="#006600" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"/>
				</svg>
			</button>
			<button class="rural-product-carousel__nav" type="button" data-carousel-next aria-label="Next gallery images">
				<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
					<path d="M1 11.4142H19.3333" stroke="#006600" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"/>
					<path d="M11 1.41418L21 11.4142L11 21.4142" stroke="#006600" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"/>
				</svg>
			</button>
		</div>

		<div class="rural-product-carousel__viewport w-full" data-carousel-hide-below="0">
			<div class="rural-image-gallery__track" data-carousel-track>
				{% for item in items %}
					<div class="rural-image-gallery__item">
						<div class="relative overflow-hidden rounded-xl">
							<img class="h-[320px] w-full object-cover lg:h-[469px]" src="{{ item.image_url }}" alt="" />
							{% if item.caption %}
								<div class="absolute bottom-5 left-5 right-5 rounded-md bg-black/60 p-4 text-t7 leading-[23px] text-white">
									{{ item.caption }}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="rural-product-carousel__progress" aria-hidden="true">
			<div class="rural-product-carousel__progress-track">
				<div class="rural-product-carousel__progress-bar" data-carousel-progress></div>
			</div>
		</div>
	</div>
</section>
