{% set prev_post = fn('get_prev_post', post ) %}

<section class="!py-0 flex flex-row gap-4 items-center justify-between border-y border-borderLight">
	<h5 class="is-supertitle px-6 py-4">
		Time for one more?
	</h5>
	<a href="/pulse" class="is-supertitle scramble-text py-4 px-6 border-l border-borderLight max-sm:hidden">Back to the pulse</a>
</section>

<section class="!py-0">
	{% include "partials/posts/tease-post.twig" with { post: prev_post, hide_date: true } %}
</section>
<div class="grid grid-cols-4 w-full">
	<div class="border-r border-borderLight h-16 sm:h-24"></div>
	<div class="border-r border-borderLight h-16 sm:h-24"></div>
	<div class="border-r border-borderLight h-16 sm:h-24"></div>
</div>
