{% set work = post.selected_works.work %}

{% if work %}
	<section id="home-selected-works" class="!py-0 relative z-50">
		<div class="container bg-bgLight">
			<div class="border-borderLight border-x border-t">
				<div class="w-1/2 border-borderLight border-r h-24"></div>
			</div>
		</div>
		<div class="bg-bgLight container">
			<div class="border-borderLight border-t border-x py-6 px-4 md:px-6 flex flex-row items-end gap-4 header-container">
				<div class="circle mb-1.5 xl:mb-2"></div>
				<div class="flex flex-row gap-2">
					<h3 class="is-h2">Selected works</h3>
					<span class="text-sm">{{ work|length ? : 0 }}</span>
				</div>
			</div>

			{% include "components/work-grid.twig" with { work_items: work, no_container: true, show_filter_bar: false } %}
			<div class="bg-bgLight">
				<div class="border-borderLight border-x border-b grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
					<div class="md:col-span-2 lg:col-span-4">
						<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 h-full">
							<div class="md:col-start-2 lg:col-start-4 w-full flex items-center justify-center p-6 md:border-l border-borderLight">
								{% include "partials/button.twig" with { link: post.selected_works.link.url, title: post.selected_works.link.title, target: post.selected_works.link.target } %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
