<div id="home-video" class="bg-bgLight container z-[52] relative">
	<div id="home-video-container" class="flex border-borderLight justify-center border-x border-b lg:h-lvh overflow-hidden">
		<div class="video-wrap flex flex-col justify-center gap-4 lg:border-x bg-bgLight border-x-borderLight lg:w-1/2 w-full will-change-transform overflow-hidden relative transform translate-z-0">
			<div class="p-6 lg:border-y border-borderLight overflow-hidden">
				<div class="video-inner muted h-full w-full flex justify-center items-center relative overflow-hidden">
					<div class="relative aspect-video w-full overflow-hidden">
						{% if post.video_section.thumbnail %}
							<img src="{{ post.video_section.thumbnail.src }}" alt="{{ post.video_section.thumbnail.alt|default(post.video_section.thumbnail.post_title) }}" class="thumbnail w-full h-full top-0 left-0 absolute object-cover"/>
						{% endif %}
						{% if post.video_section.video %}
							<video src="{{ post.video_section.video.src }}" class="w-full h-full top-0 left-0 absolute object-cover z-10" autoplay muted loop playsinline></video>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "partials/home/spacer.twig" %}
</div>


{# <div id="home-three-video-outer" class="!py-0 text-black h-[300lvh] z-50 overflow-hidden relative">
	<div id="home-three-video" class="-translate-y-full w-full h-lvh">
		<video src="{{ post.video_section.video.src }}" class="sr-only" autoplay muted loop playsinline></video>
	</div>
</div> #}
