<div class="container bg-bgLight">
	<div class="border-b border-x w-full flex flex-row flex-wrap">
		{% for item in block.cards %}
			<div class="w-full md:w-1/2 lg:w-1/4 p-6 h-[350px] lg:h-[450px] flex flex-col border-borderLight gap-6
																								{% if not loop.last %}lg:border-r{% endif %}
																								{% if loop.index is odd %}md:border-r{% endif %}
																								{% if loop.index <= 2 %}md:border-b{% endif %}
																								{% if not loop.last %}border-b{% endif %}
																								lg:border-b-0">
				<div class="flex flex-col justify-between h-1/2">
					<span class="text-sm text-gray-400">
						{% if loop.index < 10 %}0
						{% endif %}
						{{ loop.index }}</span>
					<h3 class="text-2xl ">{{ item.title }}</h3>
				</div>
				<div class="flex h-1/2">
					<p>{{ item.content }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
