<div class="container bg-bgLight">
	<div class="border-b border-x border-borderLight items-center flex gap-6 flex-col justify-center p-6 min-h-60">
			{% if block.text %}
				<div class="block-content max-w-xl">{{ block.text }}</div>
			{% endif %}
			{% if block.button %}
				{% include "partials/button.twig" with {
					link:   block.button.url,
					title:  block.button.title,
					target: block.button.target
				} %}
			{% endif %}
	</div>
</div>