<div class="container bg-bgLight">
	<div class="w-full border-b border-x border-borderLight relative {% if block.has_padding %} p-6 {% endif %}">
		<div class="relative w-full aspect-video">
			{% if block.thumbnail %}
				<img src="{{ block.thumbnail.src }}" alt="{{ block.thumbnail.alt|default(block.thumbnail.post_title) }}" class="thumbnail w-full h-full top-0 left-0 absolute object-cover"/>
			{% endif %}
			{% if block.video %}
				<video 
					src="{{ block.video.src }}" 
					class="w-full h-full top-0 left-0 absolute object-cover" 
					autoplay 
					muted 
					loop 
					playsinline
				>
					Your browser does not support the video tag.
				</video>
			{% endif %}
		</div>
	</div>
</div>
