<div class="container bg-bgLight">
	<div class="flex items-stretch flex-row justify-center border-x relative border-b border-borderLight">
		<div class="flex flex-col justify-between w-1/12 md:w-2/12 border-r border-borderLight">
			<div class="h-20 border-b border-borderLight flex-shrink-0"></div>
			<div class="flex-grow"></div>
			<div class="h-20 border-t border-borderLight flex-shrink-0"></div>
		</div>
		<div class="flex flex-col w-10/12 md:w-8/12 border-r border-borderLight">
			<div class="h-20 border-b border-borderLight flex-shrink-0"></div>
			<div class="flex-grow flex items-center justify-center p-6 lg:p-8 flex-col gap-10">
				<h3 class="relative z-10 text-center text-textDark !leading-normal">
					{{ block.quote }}
				</h3>
				<div class="px-4 py-1 border border-borderLight rounded-xl md:rounded-full flex flex-row gap-2 md:gap-3 flex-wrap font-mono uppercase justify-center">
					<span class="text-textDark text-center">{{ block.name }}</span>
					{% if block.company%}
						<div class="text-textLight text-center">{{ block.company }}</div>
					{% endif %}
				</div>
			</div>
			<div class="h-20 border-t border-borderLight flex-shrink-0"></div>
		</div>
		<div class="flex flex-col justify-between w-1/12 md:w-2/12 border-borderLight">
			<div class="h-20 border-b border-borderLight flex-shrink-0"></div>
			<div class="flex-grow"></div>
			<div class="h-20 border-t border-borderLight flex-shrink-0"></div>
		</div>
	</div>
</div>
