<div class="accordion w-full max-w-4xl">
	{% for item in 0..2 %}
		<span class="accordion-header">
			<h3 class="!text-base w-3/4">
				Toggle me!
			</h3>
		</span>
		<div class="accordion-content">
			<div class="accordion-inner">
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum provident, hic soluta ipsa aut ad illo
										modi sunt nemo tempora dolorum officiis, dolorem aliquam nobis corrupti est, obcaecati pariatur culpa.
				</p>
			</div>
		</div>
	{% endfor %}
</div>
