<a href="{{ link }}" class="flex flex-row gap-2 items-center cursor-pointer" target="{{ target }}">
	{% include 'icons/heading-dot.twig' %}
	<span class="scramble-text font-mono uppercase">
		{{ title }}
	</span>
	{% include 'icons/arrow-top-right.twig' %}
</a>
