<div class="transition-effect fixed top-0 left-0 w-full h-full z-[9999] pointer-events-none opacity-0 overflow-hidden flex justify-center items-center">
	<div class="inner-circle absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full size-[7px] shrink-0 bg-bgLight z-40"></div>
	<div
		class="outer-text relative z-20">
		{# top left plus #}
		<span class="internal-heading-plus absolute top-[-4.5px] left-[-4.5px]">
			{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#565658]' }) }}
		</span>

		{# top right plus #}
		<span class="internal-heading-plus absolute top-[-4.5px] right-[-5.5px]">
			{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#565658]' }) }}
		</span>

		{# bottom left plus #}
		<span class="internal-heading-plus absolute bottom-[-5.5px] left-[-4.5px]">
			{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#565658]' }) }}
		</span>

		{# bottom right plus #}
		<span class="internal-heading-plus absolute bottom-[-5.5px] right-[-5.5px]">
			{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#565658]' }) }}
		</span>
		<div page-loading-text class="is-supertitle !text-lg text-bgLight opacity-0 px-6 pl-9 py-4 relative z-10 whitespace-nowrap"></div>
	</div>
	<div class="vertical-lines w-full h-full absolute inset-0">
		<div class="vertical-line border-l border-black opacity-0"></div>
		<div class="vertical-line border-l border-black opacity-0"></div>
		<div class="vertical-line border-l border-black opacity-0"></div>
		<div class="vertical-line border-l border-black opacity-0"></div>
	</div>

	<div class="horizontal-lines w-full h-full absolute inset-0">
		<div class="horizontal-line border-t border-black opacity-0"></div>
		<div class="horizontal-line border-t border-black opacity-0"></div>
	</div>
</div>
